@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/roboto/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("./assets/fonts/roboto/roboto-v30-latin-regular.woff") format("woff"), url("./assets/fonts/roboto/roboto-v30-latin-regular.ttf") format("truetype"), url("./assets/fonts/roboto/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/roboto/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./assets/fonts/roboto/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/roboto-v30-latin-700.woff2") format("woff2"), url("./assets/fonts/roboto/roboto-v30-latin-700.woff") format("woff"), url("./assets/fonts/roboto/roboto-v30-latin-700.ttf") format("truetype"), url("./assets/fonts/roboto/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  font-family: "roboto";
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

body {
  background: #e9eef3;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.icon {
  width: 2rem;
}

.icon-svg {
  font-size: 2rem;
}

.icon-chevron-right {
  font-size: 2rem;
}

.end-block {
  display: flex;
  justify-content: flex-end;
  justify-self: end;
  align-items: center;
}

.text-full {
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-and-banner {
  justify-content: start;
}

@font-face {
  font-family: "icons";
  src: url("./assets/fonts/icons/icons.eot");
  src: url("./assets/fonts/icons/icons.eot") format("embedded-opentype"), url("./assets/fonts/icons/icons.woff2") format("woff2"), url("./assets/fonts/icons/icons.woff") format("woff"), url("./assets/fonts/icons/icons.ttf") format("truetype"), url("./assets/fonts/icons/icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pets:before {
  content: "\e800";
} /* '' */
.icon-receipt:before {
  content: "\e801";
} /* '' */
.icon-soccer:before {
  content: "\e802";
} /* '' */
.icon-sort-by-alpha:before {
  content: "\e803";
} /* '' */
.icon-sports-basketball:before {
  content: "\e804";
} /* '' */
.icon-sports-mma:before {
  content: "\e805";
} /* '' */
.icon-sports-motorsports:before {
  content: "\e806";
} /* '' */
.icon-timer:before {
  content: "\e807";
} /* '' */
.icon-chevron-right:before {
  content: "\e808";
} /* '' */
.icon-close-white:before {
  content: "\e809";
} /* '' */
.icon-euro:before {
  content: "\e80a";
} /* '' */
.icon-horse:before {
  content: "\e80b";
} /* '' */
.icon-menu:before {
  content: "\e80c";
} /* '' */
.header {
  background: #254cac;
}
.header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.header nav.filters {
  display: flex;
  flex-wrap: nowrap;
  max-width: 30rem;
  width: 100%;
  justify-content: space-around;
}
.header nav.filters .button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-right: 0;
  color: #e2e7f4;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  background: #506fbc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100%;
  max-width: 13rem;
}
.header nav.filters .button div {
  width: 100%;
  max-width: 13rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.header nav.filters .button ::before {
  color: #ffffff;
  font-size: 2rem;
}
.header nav.filters .button:last-child {
  margin-right: 0.5rem;
}
.header nav.filters .button:hover {
  color: #ffd11b;
}
.header nav.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}
.header nav.horizontal-scroll a {
  display: inline-block;
  flex-wrap: wrap;
  color: #e2e7f4;
  text-align: center;
  padding: 1rem;
  padding-right: 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
.header nav.horizontal-scroll a:last-child {
  padding-right: 1rem;
}
.header nav.horizontal-scroll a::before {
  color: #ffffff;
  margin: 0 auto 0.5rem auto;
  display: block;
  font-size: 2rem;
}
.header nav.horizontal-scroll a:hover {
  color: #ffd11b;
}
.header nav.horizontal-scroll a:hover ::before {
  color: #ffd11b;
}

.section-slider article {
  position: relative;
  overflow: hidden;
}
.section-slider .slider-container {
  position: relative;
  background-image: url("./assets/img/slider_base-degra.jpg");
  display: flex;
  justify-content: center;
}
.section-slider .slider-container li {
  max-width: 900px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  background-repeat: repeat-x;
  z-index: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.section-slider .slider-container li:first-child {
  display: block;
  position: relative;
  z-index: 1;
  left: 0;
  transform: translate3d(0, 0, 0);
}
.section-slider .slider-container li.active {
  opacity: 1;
  z-index: 1;
}
.section-slider .slider-container li:target {
  opacity: 1;
  z-index: 1;
}
.section-slider .slider-container li .slider-img {
  width: 100%;
}
.section-slider .slider-container .text-slider {
  position: absolute;
  left: 1rem;
  top: 2rem;
  max-width: 40%;
}
.section-slider .slider-container .text-slider h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
.section-slider .slider-container .text-slider p {
  font-size: 1.1rem;
}
.section-slider .slider-container .text-slider p mark {
  font-weight: bold;
  background-color: #ffe682;
}
.section-slider .nav-slider {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  z-index: 3;
}
.section-slider .nav-slider ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.section-slider .nav-slider ul li {
  display: flex;
  padding: 0.2rem;
}
.section-slider .nav-slider ul li .dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #a5a8ab;
}
.section-slider .nav-slider ul li .dot:hover {
  background-color: #338ff1;
}
.section-slider .nav-slider ul li .dot:active {
  background-color: #338ff1;
}
.section-slider .nav-slider ul li .dot.active {
  background-color: #338ff1;
}

@media (min-width: 58rem) {
  .section-slider .slider-container .text-slider {
    position: absolute;
    left: 1rem;
    top: 2rem;
    max-width: 40%;
  }
  .section-slider .slider-container .text-slider h2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .section-slider .slider-container .text-slider p {
    font-size: 2.1rem;
  }
  .section-slider .slider-container .text-slider p mark {
    font-weight: bold;
    background-color: #ffe682;
  }
}
.card {
  padding: 1rem;
  width: 100%;
}
.card .card-container {
  overflow: hidden;
  border-radius: 10px;
  background: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.17);
}
.card .card-container header {
  width: 100%;
}
.card .card-container header figure {
  width: 100%;
  overflow: hidden;
}
.card .card-container header figure img {
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}
.card .card-container .card-content > h2 {
  padding: 1rem;
}
.card .card-container .card-content h2 {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}
.card .card-container .card-content .text-card {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.card .card-container .card-content .selection-item-list li {
  border-bottom: 1px solid #a5a8ab;
}
.card .card-container .card-content .selection-item-list .icon {
  margin-right: 0.3rem;
}
.card .card-container .card-content .selection-item-list .icon-svg {
  margin-left: -0.3rem;
}
.card .card-container .card-content .selection-item-list a {
  padding: 1rem;
}
.card .card-container .card-content .selection-item-list .text-full {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
.card .card-container .card-content .selection-item-list .number {
  width: 1.6rem;
  text-align: center;
  margin-right: -0.3rem;
}
.card .card-container footer {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.card .card-container footer .more {
  font-size: 1.2rem;
  text-align: right;
  color: #338ff1;
}
.card .card-container footer a:hover {
  color: #ffd11b;
}
.card a:hover {
  color: #ffd11b;
}
.card a:hover .card-container figure img {
  width: 100%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card-collage .card {
  flex-basis: 50%;
}
.card-collage .card:nth-child(3n+1) {
  flex-basis: 100%;
}

@media (min-width: 58rem) {
  .card {
    max-width: 29rem;
  }
}
.banner {
  background: #338ff1;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 0 1rem;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  width: 100%;
}
.banner .text-banner .white-text {
  display: block;
  font-size: 1.2rem;
  color: #e2e7f4;
  font-weight: bold;
}
.banner .text-banner .shiny-text {
  display: block;
  color: #ffd11b;
  font-size: 2.3rem;
  font-weight: bold;
}
.banner .banner-img {
  width: 50%;
  max-width: 17rem;
}

@media (min-width: 58rem) {
  .banner .text-banner .white-text {
    font-size: 2.2rem;
  }
  .banner .text-banner .shiny-text {
    font-size: 2.9rem;
  }
}

/*# sourceMappingURL=index.css.map */
