.banner {
	background: $background-banner;
	display: flex;
	justify-content: space-around;
	margin:$small-separation;
	margin-top: $normal-separation ;
	margin-bottom: 0 ;
	padding: 0 $normal-separation;
	flex-wrap: nowrap;
	overflow: hidden;
	border-radius: $border-radius;
	align-items: center;
	width: 100%;

	.text-banner {

		.white-text {
			display: block;
			font-size: $font-size-big;
			color: $color-light-blur;
			font-weight: bold;
		}

		.shiny-text {
			display: block;
			color: $color-shiny;
			font-size: $font-size-super-big;
			font-weight: bold;
		}
	}

	.banner-img {
		width: 50%;
		max-width: $max-banner-width;
	}
}


@include desktop-tablet() {
	.banner {

		.text-banner {

			.white-text {
				font-size: $font-size-big-desktop;
			}

			.shiny-text {
				font-size: $font-size-super-big-desktop;
			}
		}
	}
}