.header {
	background: $background-header;

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}

	nav {

		&.filters {
			display: flex;
			flex-wrap: nowrap;
			max-width: $max-filter-container-width;
			width: 100%;
			justify-content: space-around;

			.button {
				padding: $small-separation $normal-separation;
				margin: $normal-separation;
				margin-right: 0;
				color: $color-light-blur;
				text-align: center;
				font-size: $font-size-normal;
				font-weight: bold;
				background: $background-button;
				border-radius: $border-radius;
				white-space: nowrap;
				width: 100%;
				max-width: $max-filter-width;

				div {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
				}

				::before {
					color: $color-light;
					font-size: $icon-size-normal;
				}

				&:last-child {
					margin-right: $small-separation;
				}

				&:hover {
					color: $color-shiny;
					div::before {
						color: $color-shiny;
					}
				}
			}
		}

		&.horizontal-scroll {
			overflow: auto;
			white-space: nowrap;

			a {
				display: inline-block;
				flex-wrap: wrap;
				color: $color-light-blur;
				text-align: center;
				padding: $normal-separation;
				padding-right: 0;
				text-decoration: none;
				font-size: $font-size-small;
				font-weight: bold;
				&:last-child {
					padding-right: $normal-separation;
				}
	
				&::before {
					color: $color-light;
					margin: 0 auto $small-separation auto;
					display: block;
					font-size: $icon-size-normal;
				}
	
				&:hover {
					color: $color-shiny;
	
					&::before {
						color: $color-shiny;
					}
				}
			}

		
		}
	}
}