.header{
	background: $background-header;

	nav{
		&.filters{
			display: flex;
			flex-wrap: nowrap;
			a{
				width: 100%;
				max-width: 200px;
				padding: $normal-separation;
				margin: $normal-separation ;
				margin-right: 0;
				color: $color-light-blur;
				text-align: center;
				font-size: $font-size-normal;
				background:$background-button;
				border-radius: $border-radius;
			}
			a::before{
				color: $color-light;
				font-size: $icon-size-normal;
			}
			a:last-child{
				margin-right: $small-separation;
			}
			a:hover{
				color: $color-shiny;
			
			}
		}
		&.horizontal-scroll{
			overflow: auto;
			white-space: nowrap;
			a{
				display: inline-block;
				flex-wrap: wrap;
				color: $color-light-blur;
				text-align: center;
				padding: $normal-separation;
				padding-right: 0;
				text-decoration: none;
				font-size: $font-size-small;
			}
			a:last-child{
				padding-right: $normal-separation;
			}
			a::before{
				color: $color-light;
				margin: 0 auto $small-separation auto;
				display: block;
				font-size: $icon-size-normal;
			}
			a:hover{
				color: $color-shiny;
				::before{
					color: $color-shiny;
				}
			}
		}
	}
}