body {
	background: $background;
}

.container {
	max-width: $container;
	margin: 0 auto;
}

.hide {
	display: none;
}

.icon {
	width: $icon-img;
}

.icon-svg {
	font-size: $icon-img;
}

.icon-chevron-right {
	font-size: $icon-chevron-right;
}

.end-block {
	display: flex;
	justify-content: flex-end;
	justify-self: end;
	align-items: center;
}

.text-full {
	width: 100%;
}

.cards {
	padding: $small-separation;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;

}

.card-and-banner {
	justify-content: start;
}