// colors
$black: #212121;
$white:#ffffff;
$grey:#e9eef3;
$blue:#338ff1;
$dark-blue:#254cac;
$yellow: #ffd11b;
$yellow-light: #ffe682;


//color Used
$background: $grey;
$background-header: $dark-blue;
$background-card: $white;
$background-banner: $blue;
$background-dot-select: $blue;
$color: $black; 
$color-light: $white ;
$color-banner-highlighted: $yellow;
$color-click: $blue; 
$highlight: $yellow-light;

//Grid

